@import '~@angular/material/theming';

@mixin iman-info-bubble-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    iman-info-bubble {
        .description {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }

        a {
            color: mat-color($primary, 200);
        }

        .actionButton {
            background-color: mat-color($accent, 50);
            color: mat-color($primary, darker);
        }
    }
}